* {
	font-family: cursive; 
	transition: all .2s ease-in;
}
h1 {
	text-align: center;
	padding: 15px;
	padding-top: 30px;
	font-size: 3em;
}
.blabla {
	text-align: unset;
	width: 1200px;
	height: 1500px;
	background-color: #2196F3;
}
.nameprod {
	font-size: 0px;
	margin-top: 100px;
	text-align: center;
}
 li {
	display: inline-block; 
	overflow-y: 
	margin-top: 30px;
	width: 20%; 
	height: 60px;
	list-style: none;
	padding: 10px;
	color: white;
	font-size: 20px
}
	
.col6 {
	border-right: 	 3px solid;
	border-bottom: 3px solid;
	width: 20%;
	background-color: #76FF03;
}
.col1  {
	border-top: 3px solid;
	border-bottom: 3px solid;
	width: 20%;
	background-color: #00796B;
}
.medium1 {
	border:3px solid ;
	background-color: #CDDC39;
	width: 41.7%;
}
.medium { width: 41.7%;
	border-right:  3px solid;
	background-color: #FF8F00;

}
 .long {
 	border: 3px solid;
 	background-color: #212121;
	width: 85.7%;
}
.col4 { 
	width: 20%;
	border-right:3px solid;
	border-bottom: 3px solid;
	background-color: #01579B;
}
.col5 {
	border-right: 	 3px solid;
	border-bottom: 3px solid;
	background-color: #9E9E9E;
}
.col7 {
	border-left:  3px solid;
	border-right: 	 3px solid;
	background-color: #455A64;
}
.col3 {
	border-bottom: 3px solid;
	border-right: 3px solid;
	border-left: 3px solid;
	background-color: #1A237E;
}
.col4 {
	width: 19.8%;
	background-color: #4A148C;
}
.col2 {
	border:3px solid;
	background-color: #AB47BC;
}
.col8 {
	border-right:  3px solid;
	background-color: #CDDC39;
}
.nameprod:hover > a  li {opacity: 0.6}
.nameprod a li:hover {opacity: 1
}
.foot {
	font-size: 30px;
	text-align: center;
}




	
